body {
    font: normal 20px Arial;
    text-align: center;
    justify-items: center;
    background-color: rgb(42, 174, 218);
}

header {
    color: white;
}

section {
    background-color: white;
    width: 500px;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.363);
}

footer {
    font-size: 15px;
    color: white;
    font-style: italic;
    margin-top: 10px;
}